version: "3.9"

services:
  toolshub:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        NEXT_PUBLIC_SITE_URL: ${NEXT_PUBLIC_SITE_URL}
    container_name: toolshub

    env_file:
      - ./.env
    environment:
      NODE_ENV: production
      PORT: 3005
      DATABASE_URL: ${DATABASE_URL}

    expose:
      - "3005"

    restart: unless-stopped
    networks:
      - proxy
      - appnet

    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"

      # primary domain
      - "traefik.http.routers.toolshub.rule=Host(`toolshub.tariqul.dev`)"
      - "traefik.http.routers.toolshub.entrypoints=websecure"
      - "traefik.http.routers.toolshub.tls=true"
      - "traefik.http.routers.toolshub.tls.certresolver=letsencrypt"
      - "traefik.http.routers.toolshub.service=toolshub-svc"

      # service port
      - "traefik.http.services.toolshub-svc.loadbalancer.server.port=3005"
      - "traefik.http.services.toolshub-svc.loadbalancer.passhostheader=true"

      # www -> non-www redirect
      - "traefik.http.routers.toolshub-www.rule=Host(`www.toolshub.tariqul.dev`)"
      - "traefik.http.routers.toolshub-www.entrypoints=websecure"
      - "traefik.http.routers.toolshub-www.tls=true"
      - "traefik.http.routers.toolshub-www.tls.certresolver=letsencrypt"
      - "traefik.http.routers.toolshub-www.middlewares=toolshub-redirect@docker"
      - "traefik.http.middlewares.toolshub-redirect.redirectregex.regex=^https?://www\\.toolshub\\.tariqul\\.dev(.*)"
      - "traefik.http.middlewares.toolshub-redirect.redirectregex.replacement=https://toolshub.tariqul.dev$1"
      - "traefik.http.middlewares.toolshub-redirect.redirectregex.permanent=true"

networks:
  proxy:
    external: true
  appnet:
    external: true
