services:
  toolscube:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        NEXT_PUBLIC_SITE_URL: ${NEXT_PUBLIC_SITE_URL}
    container_name: toolscube

    env_file:
      - ./.env
    environment:
      NODE_ENV: production
      PORT: "3005"
      NEXT_TELEMETRY_DISABLED: "1"
      DATABASE_URL: ${DATABASE_URL}

    expose:
      - "3005"
    restart: unless-stopped
    networks:
      - proxy
      - appnet

    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"

      # Primary domain
      - "traefik.http.routers.toolscube.rule=Host(`toolscube.app`)"
      - "traefik.http.routers.toolscube.entrypoints=websecure"
      - "traefik.http.routers.toolscube.tls=true"
      - "traefik.http.routers.toolscube.tls.certresolver=letsencrypt"
      - "traefik.http.routers.toolscube.service=toolscube-svc"

      # Service port
      - "traefik.http.services.toolscube-svc.loadbalancer.server.port=3005"
      - "traefik.http.services.toolscube-svc.loadbalancer.passhostheader=true"

      # www -> non-www redirect
      - "traefik.http.routers.toolscube-www.rule=Host(`www.toolscube.app`)"
      - "traefik.http.routers.toolscube-www.entrypoints=websecure"
      - "traefik.http.routers.toolscube-www.tls=true"
      - "traefik.http.routers.toolscube-www.tls.certresolver=letsencrypt"
      - "traefik.http.routers.toolscube-www.middlewares=toolscube-redirect@docker"
      - "traefik.http.middlewares.toolscube-redirect.redirectregex.regex=^https?://www\\.toolscube\\.app(.*)"
      - "traefik.http.middlewares.toolscube-redirect.redirectregex.replacement=https://toolscube.app$1"
      - "traefik.http.middlewares.toolscube-redirect.redirectregex.permanent=true"

networks:
  proxy:
    external: true
  appnet:
    external: true